@font-face { 
font-family: 'DDC Uchen'; /* 字体名称,可自己定义 */ 
src: url('../fonts/DDC_Uchen.ttf') format('truetype');
} 
@font-face { 
font-family: 'HASMWBAT'; /* 字体名称,可自己定义 */ 
src: url('../fonts/DDC_Uchen.ttf') format('truetype');
} 